main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


div.qcm {
    display: flex;
    border-radius: 5px;
    background-color: ;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}


