td > a {
    color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 8px 12px;
}


body {
    background-color: #363536;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
  color: #C9D1D9;
  text-decoration: none;
  margin-right: 15px;
  padding: 8px 12px;
  font-size: 2rem;
}

nav a:hover {
  background-color: #555;
}

h1 {
    color : white;
    text-align: center;
}

section p {
    color : white;
    font-size: 1rem;
    
}

.topbar {
    max-width: 100%;
    max-height: 5%;
    background-color: black;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    display: flex;
}

div a {
    font-size: 30px;
    color: purple;
    margin: 5px;
    text-decoration: none;
}

div a:hover {
    color: violet;
}

div a:active {
    color: yellow;
}

.homelink {
    margin-right: auto;
}

p {
    color: white;
    align-self: center;
}

table {
    border-radius: 10px;
    background-color: #151515;
    width: 700px;
    align-self: center;
    border-collapse: collapse;
    color: white;
    text-align: center;
    font-size: 20px;
}

table td, table th {
    border: 1px solid grey;
}

th:last-child {
    border-radius: 0px 10px 0px 0px;
    background-color: #202020;
}

th:first-child {
    border-radius: 10px 0px 0px 0px;
    background-color: #202020;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}
