body {
    background-color: #363536;
    font-family: "Pixelify Sans", sans-serif;
}

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 8px 12px;
  font-size: 2rem;
}

nav a:hover {
  background-color: #555;
}

h1 {
    color : white;
    text-align: center;
}

section p {
    color : white;
    font-size: 1rem;
    
}

.topbar {
    max-width: 100%;
    max-height: 5%;
    background-color: black;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    display: flex;
}

button {
    color: white;
    background-color: black;
    border: none;
}

.topbar_links {
    : flex-end;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid grey;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

